body 
{
    color: black;
}

#resume-box
{
    font-family:Consolas;
    border:double;
    border-radius:10px;
    margin:50px;
    padding: 20px;
    max-width: 500px;
    height: 500px;
}

#input-box
{
    font-family:Consolas;
    border:double;
    border-radius:10px;
    margin:50px;
    padding: 20px;
    max-width: 800px;
    height: 800px;
}

#resume-inputs
{
    border-top:dashed;
    border-color:gray;
}

#submit
{
    font-size: 2em;
    min-height:50px;
    min-width:50px;
    font-family:Consolas;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

  /* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
    height: 100%;
    width: 100%;
  }
  
  